*.pyc
*.pyproj
__pycache__/
**/__pycache__/
.idea/
*sln
*.sln
*.suo
*.cpython-*
*.xml
*.iml
*.xml
**.pyc
***.xml
**.idea/
ViewModel/__pycache__/CellBuilder.cpython-34.pyc
ViewModel/__pycache__/RowBuilder.cpython-34.pyc
ViewModel/__pycache__/TableBuilder.cpython-34.pyc
